@mixin min($screen) {
    @media only screen and (min-width: $screen+"px") {
        @content;
    }
}

@mixin max($screen) {
    @media only screen and (max-width: $screen+"px") {
        @content;
    }
}

.mobile-only {
    @include min(801) {
        display: none !important;
    }
}

.desktop-only {
    @include max(800) {
        display: none !important;
    }
}

.show {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0) !important;
}

.invalid {
    border: .1rem solid #ff0000 !important;
}

.valid {
    background-position: right;
    color: #232742;
    box-shadow: -1px 15px 30px 0px rgba(0,0,0,0.75);
}

.showValid {
    color: #059900;
    opacity: 1 !important;
    transform: translate(0) !important;
    overflow: visible !important;
}

.showInvalid {
    color: #ff0000;
    opacity: 1 !important;
    transform: translate(0) !important;
    overflow: visible !important;
}