.h-background {
    min-height: 100vh;
    background: linear-gradient(45deg, #232742, #37264f, #2b0c57,#3f1b72, #1e0433);
    background-repeat: no-repeat;
    background-size: 300%, 300%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: colors 20s ease infinite;

   #up {
        position: absolute;
        top: -20rem;
        height: 80rem;
        width: 80rem;
        border-radius: 50%;
        background-image: linear-gradient(80deg, rgb(43, 61, 89), rgb(38, 65, 79, 0.5));
        filter: blur(8rem);
   }

   #down {
        position: absolute;
        bottom: 0;
        height: 50rem;
        width: 50rem;
        border-radius: 50%;
        background-image: linear-gradient(80deg, rgba(47, 58, 125, 0.8), rgba(92, 44, 115));
        filter: blur(8rem);
   }

    #left {
        position: absolute;
        left: 0;
        height: 50rem;
        width: 50rem;
        border-radius: 50%;
        background-image: linear-gradient(80deg, rgba(252, 151, 73, 0.8), rgb(125, 133, 218));
        filter: blur(15rem);
   }

   #right {
        position: absolute;
        right: 0;
        height: 50rem;
        width: 50rem;
        border-radius: 50%;
        background-image: linear-gradient(80deg, rgba(255, 104, 66, 0.24), rgba(140, 52, 39));
        filter: blur(15rem);
    }

    @keyframes colors {
     0% {
       background-position: 0% 50%;
     }
   
     50% {
       background-position: 100% 50%;
     }
   
     100% {
       background-position: 0% 50%;
     }
   }
}