/* Error: Undefined mixin.
 *    ,
 * 13 | /     @include max(800) {
 * 14 | |         flex-direction: column-reverse;
 * 15 | |         border-radius: 0;
 * 16 | \     }
 *    '
 *   assets/sass/page-modules/h-newsletter.scss 13:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 13 \2502  \250c      @include max(800) {\a 14 \2502  \2502          flex-direction: column-reverse;\a 15 \2502  \2502          border-radius: 0;\a 16 \2502  \2514      }\a    \2575 \a   assets/sass/page-modules/h-newsletter.scss 13:5  root stylesheet";
}
